@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&family=Roboto+Slab:wght@400;700&family=Roboto:wght@300;400;500;700&display=swap");
:root {
  --c-black: #000000;
  --c-white: #ffffff;
  --c-dark-grey: #111111;
  --c-grey: #202125;
  --c-red: #F02526;
  --c-pink: #F783AE;
  --c-mobile-nav: #2D3436;
  --f-roboto: 'Roboto', sans-serif;
  --f-roboto-con: 'Roboto Condensed', sans-serif;
  --f-roboto-slab: 'Roboto Slab', serif;
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  font-family: inherit;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--f-roboto-con);
}

p, a {
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 400;
  font-family: var(--f-roboto);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--c-black);
  display: inline-block;
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

@media only screen and (max-width: 1100px) {
  html {
    font-size: 60%;
  }
}

@media only screen and (max-width: 850px) {
  html {
    font-size: 62.5%;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: var(--c-grey);
  position: fixed;
  z-index: 2522;
  width: 100%;
}

.header__logo {
  padding: 0 11.2rem;
  background-color: var(--c-dark-grey);
  position: relative;
  height: 7.2rem;
}

@media only screen and (max-width: 600px) {
  .header__logo {
    padding: 0 5.8rem;
  }
}

.header__logo img {
  width: 10rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media only screen and (max-width: 850px) {
  .nav {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 100%;
    width: 100%;
    padding: 1rem 0 2rem;
    background: var(--c-mobile-nav);
  }
}

.nav__icon {
  display: none;
}

@media only screen and (max-width: 850px) {
  .nav__icon {
    display: block;
    margin-right: 5%;
  }
  .nav__icon i {
    font-size: 2.4rem;
    color: var(--c-white);
  }
}

.nav__search {
  position: absolute;
  top: 100%;
  font-size: 2rem;
  width: 40%;
  right: -40%;
  font-family: var(--f-roboto-con);
  padding: 1rem;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.nav__search--visible {
  right: 0;
  visibility: visible;
  opacity: 1;
}

@media only screen and (max-width: 850px) {
  .nav__search {
    display: block;
    visibility: visible;
    opacity: 1;
    position: static;
    text-align: center;
    width: 80%;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    margin: 0 auto;
  }
}

.nav__visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity .2s ease-in, visibility .2s ease-in;
  transition: opacity .2s ease-in, visibility .2s ease-in;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 850px) {
  .nav__list {
    display: block;
    text-align: center;
  }
}

.nav__list__item {
  font-family: var(--f-roboto-con);
  font-size: 2rem;
  font-weight: 500;
  margin-right: 6.2rem;
  color: var(--c-white);
  -webkit-transition: color .2s ease-in;
  transition: color .2s ease-in;
}

@media only screen and (max-width: 850px) {
  .nav__list__item {
    width: 80%;
    margin: 0 auto;
    padding: 1rem 0;
  }
}

.nav__list__item--last {
  margin-right: 5rem;
}

@media only screen and (max-width: 850px) {
  .nav__list__item--last {
    display: none;
  }
}

.nav__list__item:active {
  color: var(--c-pink);
}

.nav__list__item:hover {
  color: var(--c-red);
}

.hero {
  width: 100%;
  min-height: 100vh;
  background: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.25)), to(rgba(0, 0, 0, 0.25))), url("img/3.jpg");
  background: linear-gradient(to left, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("img/3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero__content {
  text-align: center;
}

.hero__content__heading {
  font-size: 6.4rem;
  font-weight: 700;
  font-family: var(--f-roboto-slab);
  padding: .8rem;
  background-color: rgba(240, 37, 38, 0.9);
  border-radius: .8rem;
  margin-bottom: 2rem;
  color: var(--c-white);
  display: block;
}

@media only screen and (max-width: 850px) {
  .hero__content__heading {
    font-size: 5.2rem;
  }
}

@media only screen and (max-width: 600px) {
  .hero__content__heading {
    font-size: 4.8rem;
  }
}

.hero__content__desc {
  background-color: var(--c-black);
  color: var(--c-white);
  display: inline-block;
  border-radius: .8rem;
  padding: .2rem 2rem;
  font-size: 2.4rem;
  font-weight: 700;
  font-family: var(--f-roboto);
}

@media only screen and (max-width: 850px) {
  .hero__content__desc {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 600px) {
  .hero__content__desc {
    font-size: 1.8rem;
  }
}

.main {
  width: 95%;
  max-width: 150rem;
  margin: 0 auto;
}

.main--pd-top {
  padding-top: 10rem;
}

.section__heading {
  font-size: 3.2rem;
  display: inline-block;
  margin: 2.5rem 0;
  border-left: 3px solid var(--c-black);
  border-right: 3px solid var(--c-black);
  padding: .3rem 3.2rem;
  cursor: pointer;
  -webkit-transition: background-color .2s ease-in, padding .3s ease-in;
  transition: background-color .2s ease-in, padding .3s ease-in;
}

.section__heading:hover {
  background-color: var(--c-red);
  padding: .3rem 4.2rem;
}

@media only screen and (max-width: 600px) {
  .section__heading {
    font-size: 2.8rem;
  }
}

.section__heading--comments {
  font-size: 2.8rem;
  margin-left: .5rem;
}

.btn {
  border: .3rem solid black;
  padding: .5rem 2.4rem;
  font-family: var(--f-roboto);
  font-weight: 700;
  -webkit-transition: padding .2s ease-in, background-color .2s ease-in, color .2s ease-in;
  transition: padding .2s ease-in, background-color .2s ease-in, color .2s ease-in;
}

.btn:hover {
  background-color: var(--c-red);
  padding-right: 6rem;
  color: var(--c-white);
}

.cards-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 5rem;
  padding: 0 2rem;
}

.cards-container--blogpost {
  -ms-grid-columns: 70% 1fr;
      grid-template-columns: 70% 1fr;
  -ms-grid-rows: (max-content)[2];
      grid-template-rows: repeat(2, -webkit-max-content);
      grid-template-rows: repeat(2, max-content);
  gap: 0 2rem;
}

@media only screen and (max-width: 850px) {
  .cards-container--blogpost {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 850px) {
  .cards-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    padding: 0;
  }
}

@media only screen and (max-width: 850px) {
  .card {
    margin: 0 -2.6%;
  }
}

.card__img {
  -webkit-transition: -webkit-box-shadow .2s ease-in;
  transition: -webkit-box-shadow .2s ease-in;
  transition: box-shadow .2s ease-in;
  transition: box-shadow .2s ease-in, -webkit-box-shadow .2s ease-in;
}

.card__img:hover {
  -webkit-box-shadow: 0rem 0.5rem 0.5rem 0.2rem rgba(17, 17, 17, 0.4);
          box-shadow: 0rem 0.5rem 0.5rem 0.2rem rgba(17, 17, 17, 0.4);
}

.card--blogpost {
  border-left: 1px solid var(--c-dark-grey);
}

.card__heading {
  font-size: 2rem;
  font-family: var(--f-roboto);
  margin: 2rem 0;
  padding: 0 .5rem;
  cursor: pointer;
  -webkit-transition: -webkit-text-decoration .2s ease-in;
  transition: -webkit-text-decoration .2s ease-in;
  transition: text-decoration .2s ease-in;
  transition: text-decoration .2s ease-in, -webkit-text-decoration .2s ease-in;
}

@media only screen and (max-width: 850px) {
  .card__heading {
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
}

.card__heading:hover {
  text-decoration: underline;
}

.card__heading--blogpost {
  cursor: pointer;
}

.card__heading--blogpost:hover {
  text-decoration: none;
}

.card__meta {
  font-family: var(--f-roboto-slab);
  font-size: 1.4rem;
  font-weight: 400;
  margin: -1.5rem 0 1rem .5rem;
}

@media only screen and (max-width: 850px) {
  .card__meta {
    margin-left: 2rem;
  }
}

.card__meta--blogpost {
  margin: 0;
  padding: 1rem;
}

.card__meta__author, .card__meta__category {
  font-family: var(--f-roboto-slab);
  font-size: 1.4rem;
}

.card__meta__author:hover, .card__meta__category:hover {
  text-decoration: underline;
}

.card__para {
  margin-bottom: 1.5rem;
  padding: 0 .5rem;
}

@media only screen and (max-width: 850px) {
  .card__para {
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
}

.card__btn {
  margin: 0 0 2rem 2rem;
}

.pagination {
  margin: 2rem 0;
}

.pagination__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pagination__list__item {
  padding: .5rem 2rem;
  font-family: var(--f-roboto);
  font-size: 1.6rem;
  font-weight: 700;
  border-top: 4px solid transparent;
  -webkit-transition: border .2s ease-out;
  transition: border .2s ease-out;
}

.pagination__list__item:hover {
  border-top: 4px solid var(--c-black);
}

.sidebar {
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  background-color: var(--c-grey);
  color: #fff;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  grid-row: -3 / -1;
}

@media only screen and (max-width: 850px) {
  .sidebar {
    display: none;
  }
}

.comments {
  border-top: 1px solid #ddd;
  border-left: 1px solid var(--c-dark-grey);
}

@media only screen and (max-width: 850px) {
  .comments {
    margin-left: -2.5%;
    margin-right: -2.5%;
  }
}

.source-code {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2rem;
}

.source-code__heading {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.source-code__para {
  margin-bottom: 1.5rem;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .source-code__btn {
    display: block;
    width: 100%;
    text-align: center;
  }
}

.footer {
  background-color: var(--c-dark-grey);
  padding: 1rem 0;
}

@media only screen and (max-width: 850px) {
  .footer {
    padding-bottom: .5rem;
  }
}

.footer__section-heading {
  font-family: var(--f-roboto);
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  color: var(--c-white);
}

.footer__content {
  width: 95%;
  max-width: 150rem;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 1fr;
      grid-template-columns: 40% 1fr;
}

@media only screen and (max-width: 850px) {
  .footer__content {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    justify-items: center;
    text-align: center;
  }
}

.footer__content__nav {
  border-right: 1px solid var(--c-red);
  padding: 1.5rem 0;
}

@media only screen and (max-width: 850px) {
  .footer__content__nav {
    border-right: none;
  }
}

.footer__content__nav__list__item {
  color: var(--c-white);
}

.footer__content__nav__list__item:hover {
  text-decoration: underline;
}

.footer__content__social {
  padding: 3rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 850px) {
  .footer__content__social {
    min-width: 100%;
    background: var(--c-white);
  }
}

@media only screen and (max-width: 850px) {
  .footer__content__social__heading {
    color: var(--c-black);
  }
}

.footer__content__social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 850px) {
  .footer__content__social__list {
    margin: 2rem 0 2.5rem;
  }
}

.footer__content__social__list__item {
  margin-right: 3.2rem;
}

.footer__content__social__list__item--last {
  margin-right: 0;
}

.footer__content__social__list__item__icon {
  color: var(--c-white);
  font-size: 5rem;
  -webkit-transition: color .3s ease-in;
  transition: color .3s ease-in;
}

@media only screen and (max-width: 850px) {
  .footer__content__social__list__item__icon {
    color: var(--c-black);
  }
}

.footer__content__social__list__item__icon--fb:hover {
  color: #395693;
}

.footer__content__social__list__item__icon--youtube:hover {
  color: #F70000;
}

.footer__content__social__list__item__icon--github:hover {
  color: #333;
}

.footer__content__social__para {
  color: var(--c-white);
  font-weight: 100;
  font-size: 1.6rem;
}

@media only screen and (max-width: 850px) {
  .footer__content__social__para {
    color: var(--c-black);
  }
}
/*# sourceMappingURL=style.css.map */