:root{
    //COLORS
    --c-black: #000000;
    --c-dark-grey: #111111;
    --c-grey: #202125;
    --c-red: #F02526;
    --c-pink: #F783AE;

    //FONTS
    --f-roboto: 'Roboto', sans-serif;;
    --f-roboto-con: 'Roboto Condensed', sans-serif;
    --f-roboto-slab: 'Roboto Slab', serif;

}


