@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&family=Roboto+Slab:wght@700&family=Roboto:wght@300;400;500;700&display=swap");
:root {
  --c-black: #000000;
  --c-white: #ffffff;
  --c-dark-grey: #111111;
  --c-grey: #202125;
  --c-red: #F02526;
  --c-pink: #F783AE;
  --f-roboto: 'Roboto', sans-serif;
  --f-roboto-con: 'Roboto Condensed', sans-serif;
  --f-roboto-slab: 'Roboto Slab', serif;
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  font-family: inherit;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--f-roboto-con);
}

p, a {
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 400;
  font-family: var(--f-roboto);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--c-black);
  display: inline-block;
}

img {
  max-width: 100%;
  height: auto;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: var(--c-grey);
  position: fixed;
  z-index: 2;
  width: 100%;
}

.header__logo {
  padding: 0 11.2rem;
  background-color: var(--c-dark-grey);
  position: relative;
  height: 7.2rem;
}

.header__logo img {
  width: 10rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.nav__icon {
  display: none;
}

.nav__search {
  display: none;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__list__item {
  font-family: var(--f-roboto-con);
  font-size: 2rem;
  font-weight: 500;
  margin-right: 6.2rem;
  color: var(--c-white);
  -webkit-transition: color .2s ease-in;
  transition: color .2s ease-in;
}

.nav__list__item--last {
  margin-right: 5rem;
}

.nav__list__item:active {
  color: var(--c-pink);
}

.nav__list__item:hover {
  color: var(--c-red);
}

.hero {
  width: 100%;
  min-height: 100vh;
  background: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.25)), to(rgba(0, 0, 0, 0.25))), url("img/3.jpg");
  background: linear-gradient(to left, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("img/3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero__content {
  text-align: center;
}

.hero__content__heading {
  font-size: 6.4rem;
  font-weight: 700;
  font-family: var(--f-roboto-slab);
  padding: .8rem;
  background-color: rgba(240, 37, 38, 0.9);
  border-radius: .8rem;
  margin-bottom: 2rem;
  color: var(--c-white);
  display: block;
}

.hero__content__desc {
  background-color: var(--c-black);
  color: var(--c-white);
  display: inline-block;
  border-radius: .8rem;
  padding: .2rem 2rem;
  font-size: 2.4rem;
  font-weight: 700;
  font-family: var(--f-roboto);
}

.main {
  width: 95%;
  max-width: 150rem;
  margin: 0 auto;
}

.section__heading {
  font-size: 3.2rem;
  display: inline-block;
  margin: 2.5rem 0;
  border-left: 3px solid var(--c-black);
  border-right: 3px solid var(--c-black);
  padding: .3rem 3.2rem;
  cursor: pointer;
  -webkit-transition: background-color .2s ease-in, padding .3s ease-in;
  transition: background-color .2s ease-in, padding .3s ease-in;
}

.section__heading:hover {
  background-color: var(--c-red);
  padding: .3rem 4.2rem;
}

.btn {
  border: .3rem solid black;
  padding: .5rem 2.4rem;
  font-family: var(--f-roboto);
  font-weight: 500;
  -webkit-transition: padding .2s ease-in, background-color .2s ease-in, color .2s ease-in;
  transition: padding .2s ease-in, background-color .2s ease-in, color .2s ease-in;
}

.btn:hover {
  background-color: var(--c-red);
  padding-right: 6rem;
  color: var(--c-white);
}

.cards-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 5rem;
  padding: 0 2rem;
}

.card__img {
  -webkit-transition: -webkit-box-shadow .2s ease-in;
  transition: -webkit-box-shadow .2s ease-in;
  transition: box-shadow .2s ease-in;
  transition: box-shadow .2s ease-in, -webkit-box-shadow .2s ease-in;
}

.card__img:hover {
  -webkit-box-shadow: 0rem 0.5rem 0.5rem 0.2rem rgba(17, 17, 17, 0.4);
          box-shadow: 0rem 0.5rem 0.5rem 0.2rem rgba(17, 17, 17, 0.4);
}

.card__heading {
  font-size: 2rem;
  font-family: var(--f-roboto);
  margin: 2rem 0;
  padding: 0 .5rem;
  cursor: pointer;
  -webkit-transition: -webkit-text-decoration .2s ease-in;
  transition: -webkit-text-decoration .2s ease-in;
  transition: text-decoration .2s ease-in;
  transition: text-decoration .2s ease-in, -webkit-text-decoration .2s ease-in;
}

.card__heading:hover {
  text-decoration: underline;
}

.card__para {
  margin-bottom: 1.5rem;
  padding: 0 .5rem;
}

.card__btn {
  margin: 0 0 2rem 2rem;
}

.source-code {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.source-code__heading {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.source-code__para {
  margin-bottom: 1.5rem;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */