@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&family=Roboto+Slab:wght@700&family=Roboto:wght@300;400;500;700&display=swap');

:root{
    //COLORS
    --c-black: #000000;
    --c-white: #ffffff;
    --c-dark-grey: #111111;
    --c-grey: #202125;
    --c-red: #F02526;
    --c-pink: #F783AE;

    //FONTS
    --f-roboto: 'Roboto', sans-serif;;
    --f-roboto-con: 'Roboto Condensed', sans-serif;
    --f-roboto-slab: 'Roboto Slab', serif;
}
//BASIC RESETS

*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: inherit;
}
h1, h2, h3, h4, h5, h6{
    font-family: var(--f-roboto-con);
}   

p, a{
    font-size: 1.6rem;
    line-height: 1.5;
    font-weight: 400;
    font-family: var(--f-roboto);

}

ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: var(--c-black);
    display: inline-block;
}
img{
    max-width: 100%;
    height: auto;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
}


.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--c-grey);
    position: fixed;
    z-index: 2;
    width: 100%;
    
    &__logo{
        padding: 0 11.2rem;
        background-color: var(--c-dark-grey);
        position: relative;
        height: 7.2rem;

        & img {
            width: 10rem;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

.nav{

    &__icon{
        display: none;
    }
    
    &__search{
        display: none;
    }

    &__list{
        display: flex;
        
        &__item{
            font-family: var(--f-roboto-con);
            font-size: 2rem;
            font-weight: 500;
            margin-right: 6.2rem;
            color: var(--c-white);
            transition: color .2s ease-in;

            &--last{
                margin-right: 5rem;
            }
            &:active{
                color: var(--c-pink);
            }
            &:hover{
                color: var(--c-red);
            }
        }
    }


}

.hero{
    width: 100%;
    min-height: 100vh;

    //background
    background:  linear-gradient(to left, rgba(0,0,0,.25), rgba(0,0,0,.25)), 
                url('img/3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    //center the content
    display: flex;
    align-items: center;
    justify-content: center;


    &__content{
        //center the content
        text-align: center;

        &__heading{
            font-size: 6.4rem;
            font-weight: 700;
            font-family: var(--f-roboto-slab);
            padding: .8rem;
            background-color: rgba(#F02526, .9);
            border-radius: .8rem;
            margin-bottom: 2rem;
            color: var(--c-white);
            display: block;
        }
        &__desc{
            background-color: var(--c-black);
            color: var(--c-white);
            display: inline-block;
            border-radius: .8rem;
            padding: .2rem 2rem; 
            font-size: 2.4rem;
            font-weight: 700;
            font-family: var(--f-roboto);
        }

    }


}

.main{
    width: 95%;
    max-width: 150rem;
    margin: 0 auto;
}


//SECTION HEADING

.section__heading{
    font-size: 3.2rem;
    display: inline-block;
    margin: 2.5rem 0;
    border-left: 3px solid var(--c-black);
    border-right: 3px solid var(--c-black);
    padding: .3rem 3.2rem;
    cursor: pointer;
    transition: background-color .2s ease-in,
                padding .3s ease-in;

    &:hover{
        background-color: var(--c-red);
        padding: .3rem 4.2rem;
    }

}
//BTNS

.btn{
    border: .3rem solid black;
    padding: .5rem 2.4rem;
    font-family: var(--f-roboto);
    font-weight: 500;
    transition: padding .2s ease-in,
                background-color .2s ease-in,
                color .2s ease-in;
    &:hover{
        background-color: var(--c-red);
        padding-right: 6rem;
        color: var(--c-white);
    }

}



//card-container


.cards-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;

    padding: 0 2rem;
}

.card{

    &__img{
        transition: box-shadow .2s ease-in;

        &:hover{
        box-shadow: 0rem .5rem .5rem .2rem rgba(#111111, .4);
        }
    }
    

    &__heading{
        font-size: 2rem;
        font-family: var(--f-roboto);
        margin: 2rem 0;
        padding: 0 .5rem;
        cursor: pointer;
        transition: text-decoration .2s ease-in;

        &:hover{
            text-decoration: underline;
        }   
    }

    &__para{
        margin-bottom: 1.5rem;
        padding: 0 .5rem;
    }

    &__btn{
        margin: 0 0 2rem 2rem;
    }

}


.source-code{   
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;

    &__heading{
        align-self: flex-start;
    }

    &__para{
        margin-bottom: 1.5rem;
        text-align: center;
    }
}

.footer{
    background-color: var(--c-dark-grey);
    padding: 1rem 0;

    &__section-heading{
        font-family: var(--f-roboto);
        font-size: 1.8rem;
        font-weight: 600;
        margin-bottom: 1.5rem;
        color: var(--c-white);;
    }
    
    &__content{
        width: 95%;
        max-width: 150rem;
        margin: 0 auto;

        display: grid;
        grid-template-columns: 40% 1fr;


        &__nav{
            border-right: 1px solid red;
            padding: 1.5rem 0;

            &__list__item{
                color: var(--c-white);
            
                &:hover{
                    text-decoration: underline;
                }
            }
        }

        &__social{
            padding: 3rem 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;


            &__list{
                display: flex;
                align-items: center;
                justify-content: center;

                &__item{
                    margin-right: 3.2rem;

                    &--last{
                        margin-right: 0;
                    }

                    &__icon{
                        color: var(--c-white);
                        font-size: 5rem;
                        transition: color .3s ease-in;


                        &--fb:hover{
                            color: #395693;
                        }
                        &--youtube:hover{
                            color: #F70000;
                        }
                        &--github:hover{
                            color: #333;
                        }
                    }

                }
            }

            &__para{
                color: var(--c-white);
                font-size: 1.8rem;
            }
        }
    }
}